{% extends "base.html" %}

{% block title %}Статьи{% endblock %}

{% block content %}
<h1>Статьи</h1>
<p>Теги: {{ tags|join:', ' }}</p>

<div><a href="{% url 'add_article' %}">Добавить статью</a></div>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% for article in articles %}
    <div>
        <h2><a href="{% url 'article_view' article.id %}">{{ article.name }}</a></h2>
        <div>{{ article.body }} </div>
        <div><a href="{% url 'articles_update' id=article.pk %}">Редактировать Статью</a></div>
    </div>
{% endfor %}

{% endblock %}

