{% extends 'base.html' %}}

{% block title %}Редактор статьи{% endblock %}

{% block content %}

<h1>Изменить статью</h1>

{% if form.errors %}
    <div>
        <ul>
        {% for error in form.errors %}
            <li><strong>{{ error|escape }}</strong></li>
        {% endfor %}
        </ul>
    </div>
{% endif %}


<form action="{% url 'articles_update' id=article.id %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Сохранить изменения</button>
</form>


{% endblock %}